# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so    

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Vscode settings
.vscode/

# Ds store
.DS_Store


